
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="mb-3 text-uppercase">Reset Password</div>

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                @TempData["Error"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="alert alert-danger alert-container" role="alert">
            <p class="alert-text"></p>
        </div>

        <form id="formAuthentication" class="mb-4" action="@Url.Action("resetpassword","login")" method="post">
            <div class="mb-3 form-password-toggle">
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="new-password" name="NewPassword" placeholder="New Password" aria-describedby="password" required />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <div class="mb-3 form-password-toggle">
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="confirm-password" name="ConfirmPassword" placeholder="Confirm Password" aria-describedby="password" required />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("index","login")" class="btn btn-warning d-inline-block">Back</a>
                    <button type="submit" class="btn btn-success" onclick="return validatePassword()">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    const alertContainer = document.querySelector('.alert-container');
    const alertText = document.querySelector('.alert-text');
    const newPassword = document.querySelector('#new-password');
    const confirmPassword = document.querySelector('#confirm-password');

    alertContainer.style.display = 'none';
    const validatePassword = function () {
        if (newPassword.value == confirmPassword.value) {
            return true;
        } else {
            alertContainer.style.display = 'block';
            alertText.textContent = 'Passwords do not match. Please try again later';
            return false;
        }
    }
</script>